NODE_ENV=development
PORT=5000
DATABASE_URL="postgresql://postgres:YOUR_PASSWORD@localhost:5432/smart_faculty_nav"
FRONTEND_URL=http://localhost:8081
OSRM_API_URL=https://router.project-osrm.org
JWT_SECRET=your_secret_key_here
